*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body,#root{
    width: 100%;
    background-color: #111;
    color: #f5f5f5;
}

main{
    position: relative;
}

section{
    min-height: 100vh;
    border: 2px solid white;
    position: relative;
    z-index: 2;
}

